name: Deploy Azure Blob Static Website

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Upload site to $web
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az storage blob upload-batch \
              --account-name "stlab01samm" \
              --account-key "${{ secrets.AZURE_STORAGE_KEY }}" \
              --destination '$web' \
              --source "Static-website" \
              --overwrite
